<footer class="site-footer">
  <div class="container grid">
    <div>
      <a href="{{homeHref}}" class="brand light" aria-label="{{brandName}}">
        {{{brandLogoHtml}}}
      </a>
      <p class="about">{{footerBlurb}}</p>
      <div class="socials">{{{socialHtml}}}</div>
    </div>
    <div class="f-col">
      <h4>{{navHeading}}</h4>
      <ul>{{{footerNavHtml}}}</ul>
    </div>
    <div class="f-col">
      <h4>{{guidesHeading}}</h4>
      <ul>{{{footerGuidesHtml}}}</ul>
    </div>
    <div class="f-col">
      <h4>{{contactHeading}}</h4>
      <ul>
        <li>{{{phoneIcon}}}<a href="{{phoneHref}}">{{phoneDisplay}}</a></li>
        <li>{{{mailIcon}}}<a href="{{contactPageHref}}">{{contactPageLabel}}</a></li>
        <li>{{{mapPinIcon}}}<span>{{address}}</span></li>
      </ul>
    </div>
  </div>
  <div class="f-bottom">
    <div class="container inner">© {{year}} {{copyright}}</div>
  </div>
</footer>
